:root {
    --app-padding: 32px;
}

#app {
    /* margin: 0 auto; */
    /* padding: var(--app-padding); */
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
