:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.inputcontainer {
  width: 100%; /* Width of the outside container */
  padding: 0.5em 0.5em 0.5em 0.5em; /* Add some padding */
}

.textinput {
  font-size: 12pt;
  width: 100%; /* Full-width */
}

.slider {
  width: 80%;
  vertical-align: middle;
}

/* From https://github.com/mrdoob/three.js/blob/master/examples/misc_boxselection.html */
.selectBox {
  border: 1px solid #ffffff;
  background-color: #ffffff55;
  position: fixed;
}
